*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: cursive;
    }
    .section{
        position: absolute;
        background-image: url('file:///Users/shubham/Desktop/HTML%20PORJECTS/The%20Noble%20priest/wp2976980-love-wallpaper-in-cartoon.jpg');
        height:786px;
        width:1440px;
    }
    
    .content{
        position: absolute;
        padding-left: 120px;
        align-items: center;
        margin-left: 79px;
        margin-top: 53px;
        background-color: rgb(255, 255, 255);
        height: 677px;
        width: 1272px;
        opacity: 0.8;
        border-radius: 20px;
        /* box-shadow: 4px 4px 2px 2px solid black; */
    }
    .container{
        position: relative;
        padding-left: 120px;
        align-items: center;
        margin-left: 79px;
        height: 677px;
        width: 1272px;
        border-radius: 20px;
        /* box-shadow: 4px 4px 2px 2px solid black; */
    }
    .nav-bar{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-left: -90px;
        font-weight: 800;
    
    }
    .nav-bar h1{
        padding-top: 50px;
    }
    .nav-lists{
        padding: 20px;
        display: flex;
        padding-top: 80px;
        justify-content: space-around;
        list-style-type: none;
        
    }
    .nav-links {
        color: black;
        padding: 10px;
        background-color: rgb(138, 235, 73);
        border-radius: 20px;
        transition: all 0.1s;
       
    }
    .nav-links:hover{
     background-color: aqua;
     transition: all;
    }
    .nav-links a{
    
        font-size: 20px;
        text-decoration: none;
    }
    .content-body{
        display: flex;
        justify-content: space-around;
    }
    .content-body .text-part{
        height: 500px;
        width: 500px;
        font-size: 30px;
        
    }
    .content-body .text-part input{
        padding: 20px;
        font-size: 20px;
        height: 50px;
        width: 400px;
        border-radius: 10px;
    }
